@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif ;
    scroll-behavior: smooth;
    /*font-family: monospace;*/
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* blink animation styles*/
.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0%{ color: #000;}
    49%{ color: #000;}
    60%{ color: transparent;}
    99%{ color: transparent}
    100%{ color: #000;}
}
/* end of blink animation styles*/

/* Header */
#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgba(175, 175, 175, 0.24);
    transition: .4s ease-out background-color;
}

.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .3s ease left;
}
#header .nav-list ul.active {
    left: 0%;

}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, .027);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
    text-align: center;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: #534278;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    margin-right: 10px;
}

#header .hamburger .bar {
    height: 3px;
    width: 30px;
    border-radius: 5px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    left: 0;
    background-color: white;
    transition: .3s ease;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar {
    width: 24px;
}

#header .hamburger.active .bar::before {
    transform: rotate(45deg) translate(12px, -7px);   
    width: 60%;
    border-radius: 5px 0 5px 0;
}

#header .hamburger.active .bar::after {
    transform: rotate(-45deg) translate(12px, 7px);
    width: 60%;
    border-radius: 0 5px 0 5px;
}


/* End of Header Styles*/

/* Hero Styles */
#hero {
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .35;
    z-index: -1;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

.brand h1 {
    font-size: 2rem;
    color: grey;
}

.brand a {
    margin-left: 20px;
}

.brand h1 span{
    color: white;
}

#hero .resume {
    display: inline-block;
    padding: 10px 30px;
    color: #534278;
    background-color: transparent;
    border: 2px solid #534278;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}
#hero .resume:hover {
    color: white;
    background-color: #534278;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    
}

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
    animation-delay: .3s;
    
}

.scroll-down::after {
    top: 30%
}

@keyframes scroll-down {
    0%{ opacity: 0;}
    30%{ opacity: 1;}
    60%{ opacity: 1;}
    100%{ opacity: 0; top: 90%;}
}
/* End of Hero Styles */

/* Abt Styles*/

#abt {
    background-color: #292929;
    
}

#abt h3,p {
    color: white;
}

.card {
    width: 60%;
    perspective: 800px;
}

.card_content {
    position: relative;
    padding: 10em;
    transition: transform 3s;
    background: #534278;
    transform-style: preserve-3d;
}

.card:hover .card_content,
.card:active .card_content {
    transform: rotateY(.5turn);
}

.card_front,
.card_back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 17em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
}

.card_front::before {
    content: '';
    position: absolute;
    top: 1.5em; 
    bottom: 1.5em;
    left: 1.5em;
    right: 1.5em;
    border: 2px solid white;
    transform: translateZ(3rem);
}

.card_title {
    font-size: 3rem;
    transform: translateZ(6rem); 
}

.card_subtitle {
    transform: translateZ(4rem);
}

.card_front {
    /*transform: rotateY(.5turn);*/
    text-align: center;
    align-content: center;
    background: #534278;
}

.card_back {
    transform: rotateY(.5turn);
    background: #534278;
    display: table-cell;
}
.card_body {
    transform: translateZ(3rem);

}


/* End of Card 3d Animation Styles*/

.wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.wrapper .button {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(109, 108, 108, 0.1);
    margin-bottom: 15px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover, .wrapper .button:active {
    width: 100px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
}

.wrapper .button:hover .icon, .wrapper .button:active .icon {
    background: #2867B2;
}

.wrapper .button .icon i {
    font-size: 15px;
    line-height: 30px;
}

.wrapper .button:hover .icon i, .wrapper .button:active .icon i {
    color: #fff;
    transition: all 0.4s ease-out;
}

.wrapper .button span {
    font-size: 12px;
    font-weight: 500;
    margin-left: 3px;
    color: #2867B2;
    transition: all 0.3s ease-out;
}

/* End of Abt Styles*/

/* Media Query for Desktop */ 
@media only screen and (min-width: 1200px) {

    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #header .nav-list ul li a{ 
        font-size: 1.5rem;
    }

}